html{
    background-image: linear-gradient(#FC5E55 ,#FA4083);
}


BODY{
   background-image: url(data/image-lion-background.png) ;
   background-repeat: no-repeat;
   background-position: top center;
    color: white;
    .roboto-light {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      font-size: 1.125rem;

      
}
.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    

}

header{
    
   padding-top: 20px;
   padding-bottom: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid lightgray;
}

main{
    min-height: 300px;
    display: flex;
    align-items: center;

}

.cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
    
}

.card1{
    background-image: url( data/image-background-card1.jpg);
    background-position: bottom;
    background-size: cover;
    min-height: 250px;
    width:30%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.616);
    
}

.card2{
    background-position: bottom;
    background-size: cover;
    background-image: url(data/image-background-card2.jpg);
    min-height: 250px;
    width:30%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.596);
}

.card3{
    background-position: bottom;
    background-size: cover;
    background-image: url(data/image-background-card3.jpg);
    min-height: 250px;
    width:30%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.616);
    }

.card1, .card2, .card3{
    box-sizing:border-box;
    padding: 30px 30px 20px 30px;
    border-radius: 20px;
}

.herobox1{
    flex: 2;
    padding-right: 100px;
     
}


.herobox2{
    flex: 1;
}

.nav{
    align-items: flex-end;
    
   }

h1{
    font-size: 3.25rem;
    line-height: 0.5rem;

}

h2{
    font-size: 2rem;
    margin-top:20px ;
   
}

.cards p{
    font-size: 0.85rem;
    line-height: 1.2rem;
   margin-top: 10px;
}

p{
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

.cards i{
    font-size: 80px;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}
.mybutton {
    background-color: white;
    color: #FC5E55;
    padding: 11px 25px;
    border-radius: 100px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.274);
}

.mybutton:hover{
    background-color: #b6a2a1cc;
    transition: 1s;
}
a.mybutton{
    display: inline-block;
    margin-top: 20px;
}

img{
    border-radius: 20px;
}



.testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}


.tbox{
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 50px;

}

.navbutton{
    background-color: white;
    
    padding: 11px 25px;
    border-radius: 40px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.274);
    display: inline-block;
    position: relative;
}

nav a{
    color: #FC5E55;
}

.navbutton:hover{
    background-color: #b6a2a1cc;
    transition: 1s;
}

.dropdown{
    display: none;
    position: absolute;
    z-index: 1px;
    padding-top: 20px;
    text-align: center;
}

.navbutton:hover .dropdown{
    display: block;
}
.dropdown .navbutton{
    width: 120px;
}